<<<<<<< HEAD

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 800; 
    margin: 0;
    background-color: #121F45; 
    color: #f5f5f5;
}

header {
    background-color: #121F45; 
    color: #e10600; 
    text-align: center;
    padding: 25px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
=======
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

body {
font-family: "Montserrat", sans-serif;
font-weight: 800; 
}

body header{
display: flex;
justify-content: center;
}

body header img{
width: 99.2vw;
display: block;
margin: 0px;
padding: 0px;
>>>>>>> eca1d4bc8d7876083d4e5292e86a56443da3e680
}

nav{
text-align: center;
background-color: #121F45;
<<<<<<< HEAD
=======
border: 2px white solid;
>>>>>>> eca1d4bc8d7876083d4e5292e86a56443da3e680
}

nav ul{
display: flex;
flex-direction: row;
list-style: none;
justify-content: center;
}

nav ul li{
text-align: center;
<<<<<<< HEAD
margin: 15px;
color: white;
margin-right: 3%;
}

nav ul li:hover{
    color: #e10600;
=======
margin: 20px;
color: white;

}

nav ul li:hover{
    color: #CC1E4A;
>>>>>>> eca1d4bc8d7876083d4e5292e86a56443da3e680
    font-weight: bold;
    margin-bottom: 10px;
}

<<<<<<< HEAD
.Cabezero h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
}


.Fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px auto;
    flex-wrap: wrap;
    max-width: 1200px;
}

.Fotos h2 {
    color: #e10600;
    width: 100%;
    margin: 0;
    border-left: 5px solid #e10600;
    padding-left: 10px;
}

.Fotos img {
    width: 30%;
    border-radius: 15px;
    height: 200px; 
    background-color: #0b0f2c; 
    box-shadow: 0 0 12px rgba(255, 204, 0, 0.3);
    transition: 500ms;
}

.Fotos img:hover {
    box-shadow: 0 0 50px rgba(255, 204, 0, 0.6);
}


.Historia1, .Historia2, .Historia3 {
    background-color: #1a2452;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    max-width: 1000px;
}


section h2 {
    color: #e10600;
    margin-bottom: 15px;
    font-size: 1.8;
    border-left: 5px solid #e10600;
    padding-left: 10px;
    width: 100%; 
}


.contenido{
    display: flex; 
    align-items: flex-start;
    gap: 25px;
}


.texto-contenido {
    flex-basis: 60%; 

}

.texto-contenido p {
    text-align: justify;
    line-height: 1.6;
    margin-top: 0;
}


.imagen-Contenido {
    flex-basis: 40%; 
    order: 2; 
}


.imagen-Contenido img {
    width: 100%; 
    height: 250px; 
    background-color: #0b0f2c; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,204,0,0.3);
    transition: 500ms
}


footer {
    background-color: #121F45;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid #e10600;
}

footer h3 {
    color: #e10600;
    margin-bottom: 5px;
}

footer a {
    color: #e10600;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
=======
.Noticia1{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    background-color: #121F45;
}

.Noticia1 img{
    border-left: 1px white solid;
}

.Noticia1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    margin-left: 100px;
    margin-right: 100px;
    

}

.Noticia1 h2{
color: red;
}
.Noticia1 p{
    color: white;
}


.Noticia1 h2{
    color: red;
}

.inicios{
    background-color: #121F45;
    text-align: center;
    border: 2px white solid;
    padding: 20px;
    height: 20%;
    color: white;
}

.inicios:hover{
    color: #CC1E4A;
}

.victorias{
text-align: center;
background-color: #121F45;
border: 2px white solid;
}

.victorias ul{
display: flex;
flex-direction: row;
list-style: none;
justify-content: center;
}

.victorias ul li{
    text-align: center;
    margin: 30px;
    color: white;
}

.victorias ul li:hover{
    color: #CC1E4A;
    font-weight: bold;
    margin-bottom: 10px;
}

.Historia{
    display: flex;
    flex-direction: row-reverse;
    background-color: #121F45;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Historia img{
    border-right: 1px white solid;
}

.Historia div{
    color: white;
    padding-left: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.actualidad{
    background-color: #121F45;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}
.actualidad img{
    height: 567px;
    border-left: 1px white solid;
}

.actualidad p{
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.footer p{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #121F45;
    color: white;
    padding: 10px;
    border: 1px white solid;
}
>>>>>>> eca1d4bc8d7876083d4e5292e86a56443da3e680
